*  {
margin:0;
padding:0;
box-sizing: border-box;
}

html{font-size: 62.5%;
scroll-behavior: smooth;
}

#menu{
background: rgba(0, 0, 0, .25);
width: 100vw;
height: 5.5rem;
position: fixed;
padding-right: 1rem;
overflow: auto;
}

#menu a{
    color:#fff;  
    text-decoration:none;
    text-align: center;
    font-family: sans-serif;
    
}

.home{
    font-size: clamp(1rem,5vw,3rem);
    float: left;
    list-style: none;
    padding: 1rem;
}

.item{
    font-size: clamp(.5rem,3vw,2rem);
    list-style: none;
    float:left;
    padding: 2rem 1.2rem 1.2rem;
}

li:hover{
    background: #333;
    transition: all 300ms ease-in-out;
}

header nav button{
background: #f00;
width: 6rem;
height: 3rem;
margin: 1.5rem;
float: right;

}

#inicio{
    background-color: #000;
    width: 100vw;
    height: 5.5rem;
}
#primeiro{
    background-color: aqua;
    width: 100vw;
    height: 100vh;
    padding-top: 5.5rem;
}
#segundo{
    background-color: rgb(255, 0, 230);
    width: 100vw;
    height: 100vh;
    padding-top: 5.5rem;
}
#terceiro{
    background-color: rgb(38, 255, 0);
    width: 100vw;
    height: 100vh;
    padding-top: 5.5rem;
}

h1{
    font-size: 5rem;
    margin-left: 1rem;

}

p{
    font-size: 3rem;
    margin-left: 1rem;

}

table{
    width: 100vw;
    height: calc(100vh - 7rem);
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    border-radius: 8px;
    overflow: hidden;
    font-size: 3rem;

}
thead{
    background-color: #555a55;
    color: #fff;
}
th, td{
    padding: 1.2rem 1.6rem;
    text-align: left;
    ;
}
.foot{
    background-color: #000;
}
.conteudo{
    margin-top: 7rem;
    height: calc(100vh - 7rem);
    width: 100vw;
    overflow: auto;
}