*  {
margin:0;
padding:0;
box-sizing: border-box;
font-family: sans-serif;
}

html{font-size: 62.5%;
scroll-behavior: smooth;
}

body{
    background-color: #ccc;
}

header{
background: rgba(0, 0, 0, .25);
width: 100vw;
height: 5rem;
position: fixed;
overflow: auto;
padding-top: 1rem;
}

header a{
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-family: sans-serif;
    font-size: clamp(1rem,5vw,3rem);
    padding: 1rem;
}

a:hover{
    background: rgba(255, 255, 255, 0.25);
    transition: all 300ms ease-in-out;
}

section{
    background-color: #000;
    width: 100vw;
    height: 5rem;
}

.cadastrado {
    background-color: rgb(211, 142, 171);
    width: 40rem;
    height: 30rem;
    padding-top: 3.5rem;
    padding-left: 2.5rem;
    padding-bottom: 3.5rem;
    float: left;
    margin-top: 15vh;
    margin-left: 15vw;
    text-align: center;
}

.primeiro{
    background-color: #fff;
    width: 35rem;
    height: 18.5rem;
}

.segundo{
    background-color: #fff;
    width: 35rem;
    height: 33rem;
}

h1{
    background-color: #fff;
    width: 35rem;
    height: 5rem;
    padding-top: 2rem;
}

.novo  {
    background-color: rgb(211, 142, 171);
    width: 40rem;
    height: 40rem;
    padding-top: 3.5rem;
    padding-left: 2.5rem;
    padding-bottom: 3.5rem;
    float: left; 
    margin-top: 15vh;
    margin-right: 15vw;
    margin-left: 15vw;
    text-align: center;
}

input{
    font-size: 2rem;
    margin: 1rem;
    
}
legend{
    font-size: 2rem;
}